
body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

main{
    max-width: 768px;
    margin: 0 auto;
}

legend{
    padding: 0 1em;
}

.lorem, 
.listor,
.recept,
.favoriter,
.bok{
  margin-top: 2rem;
  border: 1px solid;
  padding: 1em;  
}

.recept img{
    width: 500px;
}

.recept-content{
    max-width: 400px;
    margin-left: 1em;
}

.recept-content .content-one::first-letter{
    font-size: 1.5rem;
}

.Ingredienser{
    font-size: 1.5rem;
    margin-left: .5em;
    font-weight: 700;
}

.recept ol li{
    padding-left: .5em;
}

.content-img{
    max-width: 350px;
}

.content-desc{
    max-width: 350px;
}